<div class="well">

  <%= form_for order_item do |f| %>

  <h4>Book Title: <%= Product.find(ProductOrder.find_by(order_id: order_item.id).product_id)[:title] %></h4>
  <h4>Price : <%= Product.find(ProductOrder.find_by(order_id: order_item.id).product_id)[:price] %> </h4>
  <%= f.hidden_field :product_id, value: product %>
  <% @totalprice += Product.find(ProductOrder.find_by(order_id: order_item.id).product_id)[:price] %>
  
  <div class="btn-group">
    
    <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product from your cart?" }, method: :delete, class: "btn btn-danger" } %>
  </div>

</div>
<% end %>