<div class="wrapper">
  <div class="response container">
    <div class="content">
      <% if @result %>
      <div class="icon">
      </div>
      <div class="panel panel-success">
        <div class="panel-heading"><h3><%= @result[:header] %></h3></div>
        <div class="panel-body">
          <%= @result[:message] %>
        </div>
      </div>

      <% end %>

    </div>

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>API Response: Transaction</h4></div>
      <!-- Table -->
      <table class="table">
        <tbody>
          <tr>
            <th>id</th>
            <td><%= @transaction.id %></td>
          </tr>
          <tr>
            <th>type</th>
            <td><%= @transaction.type %></td>
          </tr>
          <tr>
            <th>amount</th>
            <td><%= @transaction.amount %></td>
          </tr>
          <tr>
            <th>status</th>
            <td><%= @transaction.status %></td>
          </tr>
          <tr>
            <th>created_at</th>
            <td><%= @transaction.created_at %></td>
          </tr>
          <tr>
            <th>updated_at</th>
            <td><%= @transaction.updated_at %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading"><h4>Payment</h4></div>


  </div>

</div>

</div>



<aside class="drawer dark">

  <article class="content compact">
    <% if @transaction.customer_details.id %>
    <section>
      <h5>Customer</h5>

      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <th>id</th>
            <td><%= @transaction.customer_details.id %></td>
          </tr>
          <tr>
            <th>first_name</th>
            <td><%= @transaction.customer_details.first_name %></td>
          </tr>
          <tr>
            <th>last_name</th>
            <td><%= @transaction.customer_details.last_name %></td>
          </tr>
          <tr>
            <th>email</th>
            <td><%= @transaction.customer_details.email %></td>
          </tr>
          <tr>
            <th>company</th>
            <td><%= @transaction.customer_details.company %></td>
          </tr>
          <tr>
            <th>website</th>
            <td><%= @transaction.customer_details.website %></td>
          </tr>
          <tr>
            <th>phone</th>
            <td><%= @transaction.customer_details.phone %></td>
          </tr>
          <tr>
            <th>fax</th>
            <td><%= @transaction.customer_details.fax %></td>
          </tr>
        </tbody>
      </table>
    </section>
    <% end %>

  </article>
</aside>