  <p>
    <%= simple_form_for @products, :html =>{:multipart => true } do |f| %>

    <div class='form-group'>
      Title: <%= f.text_field :title %><br/>
    </div>

    <div class='form-group'>
      Category: <%= f.collection_select :category , Product.select('distinct(category)'), :category, :category %><br/>
    </div>

    <div class='form-group'>
     Book Description: <%= f.text_area :description , as: :text, class: "form-control" %><br/>
   </div>

   <div class='form-group'>
     <%= f.file_field :image %><br/>
   </div>

   <div class='form-group'>
     <%= f.text_field :price %><br/>
   </div>

   <%= f.button :submit, class: 'btn btn-outlined btn-theme btn-lg' %>
   <% end %>

