<img src="assets/10.jpg" alt="" height=300px width=101%>

<% if flash[:notice] %>
<div class="alert alert-warning" role="alert" style="border: solid 1px red;padding: 5px; color: red;border-radius: 3px; background-color: #ed7b7b">
  <%= flash[:notice] %>
</div>
<br />
<% end %>

<% if current_user.nil? or current_user.role.nil? %>
<h2>Books for Sale</h2>
<%= render 'list' %>

<% elsif current_user.role == true %>
<h2> Admin Page </h2>
<%= link_to 'New Product', new_product_path %>
  <% @products = @products.page(params[:page]).per_page(5)%>
  <% @products.each do |product| %>
<div class="row">
  <div class="col-mid-3">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= product.title %></h3>
        <%= image_tag ProductImage.find(product.id).image.url.to_s, size: "140x140",class: "img-thumbnail" %>
        <p>Description: <%= product.description %></p>
        <p>Category: <%= product.category %></p>
        <%= form_for @order_item do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <% current_order %>
          <%= f.hidden_field :shopping_cart_id, value: session[:cartid] %>
          <%= link_to 'Edit', edit_product_path(product)%>
          <%= link_to 'Delete', product_path(product), method: :delete, data:{confirm: "Confirm?"} %>
        <% end %>
       </div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @products %>
<%= page_entries_info @products %>


<% end %>
