<div class="container">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><%= link_to "Home", root_path, class: 'navbar-link item' %></li>
            <li role="presentation"><%= link_to 'Profile', edit_user_registration_path %></li>
            <li role="presentation"><%= link_to 'Order', product_orders_path %></li>
            <li role="presentation"><%= link_to "Products", root_path %></li>

            <% if current_user ==nil %>
            <li role="presentation"><%= link_to 'Login', new_user_session_path %></li>
            <% else %>
            <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link item'   %></li>
            <% if current_user.role == true %>
            <li role="presentation"><%= link_to 'Stats', statistics_path %></li>
            <% else %>
            <li role="presentation"><%= render 'layouts/cart_text', class: 'cart-text' %>
              <% end %>
              <% end %>
            </li>       
          </ul>
        </div>
      </div>      
    </nav>
  </div>
</div>

